language: cpp
os: linux
compiler: gcc

addons:
  apt:
    packages: lcov

before_script:
- mkdir -p build && cd build

script:
- cmake -DCODE_COVERAGE=ON ..
- cmake --build . --config Debug -- -j $(nproc)
- ctest -j $(nproc) --output-on-failure

after_success:
# Create lcov report
- lcov --capture --directory . --output-file coverage.info
- lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter system-files
- lcov --list coverage.info
# Uploading to CodeCov
- bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"

notifications:
  email:
    - kosrok97@gmail.com
